torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
soundfile
numpy==1.26.4
torch_audiomentations
tqdm
matplotlib
pandas
wandb
comet_ml
transformers
datasets
speechbrain
fairseq @ git+https://github.com/facebookresearch/fairseq
g2p_en
nltk

black
isort
pre-commit
